.key {
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.success {
  background-color: #3d8c40;
}
.error {
  background-color: #750d06;
}
.warning {
  background-color: #7e7200;
}
